/* ================================= 
  Flexbox
==================================== */


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

.item-1,
.item-6 {
    margin-right: auto;
}

.item-6 {
    order: -1;
}

.item-1 {
    order: -2;
}

.item {
    flex-grow: 1;
}