/* Attribute Selectors ------------- */

.form-contact {
    color: red;
    padding: 20px 24px;
    background: #f4f7f8;
}

#container{
    max-width: 500px;
    margin: auto;
}

input[placeholder] {
    background-color: yellow;
}

input[type='button'],
input[type="reset"],
input[type='submit'] {
    cursor: pointer;
}

a[target='_blank'] {
    color: #39add1;
    text-decoration: none;
    border: dotted;
}